In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from sklearn.neural_network import MLPRegressor
from dmba import classificationSummary, regressionSummary

In [2]:
df_Toyota = pd.read_csv(r"C:\Users\anish\Downloads\ToyotaCorolla.csv")

In [3]:

# select predictors
choosed = ['Price','Age_08_04', 'KM','Fuel_Type', 'HP', 'Automatic', 'Doors', 'Quarterly_Tax', 'Mfr_Guarantee', 'Guarantee_Period', 'Airco', 'Automatic_airco', 'CD_Player', 'Powered_Windows', 'Sport_Model', 'Tow_Bar']
df_Toyota=df_Toyota[choosed]
df_Toyota.head()

,Price,Age_08_04,KM,Fuel_Type,HP,Automatic,Doors,Quarterly_Tax,Mfr_Guarantee,Guarantee_Period,Airco,Automatic_airco,CD_Player,Powered_Windows,Sport_Model,Tow_Bar
0,13500,23,46986,Diesel,90,0,3,210,0,3,0,0,0,1,0,0
1,13750,23,72937,Diesel,90,0,3,210,0,3,1,0,1,0,0,0
2,13950,24,41711,Diesel,90,0,3,210,1,3,0,0,0,0,0,0
3,14950,26,48000,Diesel,90,0,3,210,1,3,0,0,0,0,0,0
4,13750,30,38500,Diesel,90,0,3,210,1,3,1,0,0,1,0,0

In [4]:
# create dummies for categorical predictors

df_Toyota= pd.get_dummies(df_Toyota,columns=['Fuel_Type'],drop_first=True)
df_Toyota

,Price,Age_08_04,KM,HP,Automatic,Doors,Quarterly_Tax,Mfr_Guarantee,Guarantee_Period,Airco,Automatic_airco,CD_Player,Powered_Windows,Sport_Model,Tow_Bar,Fuel_Type_Diesel,Fuel_Type_Petrol
0,13500,23,46986,90,0,3,210,0,3,0,0,0,1,0,0,1,0
1,13750,23,72937,90,0,3,210,0,3,1,0,1,0,0,0,1,0
2,13950,24,41711,90,0,3,210,1,3,0,0,0,0,0,0,1,0
3,14950,26,48000,90,0,3,210,1,3,0,0,0,0,0,0,1,0
4,13750,30,38500,90,0,3,210,1,3,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,7500,69,20544,86,0,3,69,1,3,1,0,0,1,1,0,0,1
1432,10845,72,19000,86,0,3,69,0,3,0,0,0,0,1,0,0,1
1433,8500,71,17016,86,0,3,69,0,3,0,0,0,0,0,0,0,1
1434,7250,70,16916,86,0,3,69,1,3,0,0,0,0,0,0,0,1
1435,6950,76,1,110,0,5,19,0,3,0,0,0,0,0,0,0,1

In [5]:
# scale the predictors and outcome variable
scaler = MinMaxScaler()
df_scaled= scaler.fit_transform(df_Toyota)

In [6]:
#create dataframe of scaled 
df_scaled=pd.DataFrame(df_scaled, columns=df_Toyota.columns)

In [7]:
df_scaled.head()

,Price,Age_08_04,KM,HP,Automatic,Doors,Quarterly_Tax,Mfr_Guarantee,Guarantee_Period,Airco,Automatic_airco,CD_Player,Powered_Windows,Sport_Model,Tow_Bar,Fuel_Type_Diesel,Fuel_Type_Petrol
0,0.325044,0.278481,0.193355,0.170732,0.0,0.333333,0.723485,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,0.333925,0.278481,0.300149,0.170732,0.0,0.333333,0.723485,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0.341030,0.291139,0.171647,0.170732,0.0,0.333333,0.723485,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.376554,0.316456,0.197528,0.170732,0.0,0.333333,0.723485,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.333925,0.367089,0.158433,0.170732,0.0,0.333333,0.723485,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0

In [21]:
#split in targets as y and features as X
X=df_scaled.drop(columns='Price')
y=df_scaled['Price']

0       0.325044
1       0.333925
2       0.341030
3       0.376554
4       0.333925
          ...
1431    0.111901
1432    0.230728
1433    0.147425
1434    0.103020
1435    0.092362
Name: Price, Length: 1436, dtype: float64

In [22]:
#split the data in training and testing sets
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.4,random_state=1)

In [23]:
mlp=MLPRegressor(hidden_layer_sizes=(2),activation='logistic', solver='lbfgs', random_state=1)
mlp.fit(X_train,y_train)

MLPRegressor(activation='logistic', hidden_layer_sizes=2, random_state=1,
             solver='lbfgs')

In [24]:
#evaluate model in traing set
y_train_pred=mlp.predict(X_train)
train_rmse=mean_squared_error(y_train,y_train_pred,squared=False)
print("Training RMSE:", train_rmse)

Training RMSE: 0.039504571656881204

In [31]:
#evaluate model in traing set
y_test_pred=mlp.predict(X_test)
test_rmse=mean_squared_error(y_test,y_test_pred, squared=False)
print("Test RMSE:", test_rmse)

Test RMSE: 0.03965419023563991

In [32]:
#a(repeating the process with  single hidden layers with nodes 5)
mlp=MLPRegressor(hidden_layer_sizes=(5),activation='logistic', solver='lbfgs', random_state=1)

mlp.fit(X_train,y_train)

MLPRegressor(activation='logistic', hidden_layer_sizes=5, random_state=1,
             solver='lbfgs')

In [33]:
#evaluate model in traing set
y_train_pred=mlp.predict(X_train)
train_rmse=mean_squared_error(y_train,y_train_pred)
print("Training RMSE:", train_rmse)

Training RMSE: 0.0015893818015242657

In [34]:
#evaluate model in traing set
y_test_pred=mlp.predict(X_test)
test_rmse=mean_squared_error(y_test,y_test_pred)
print("Test RMSE:", test_rmse)

Test RMSE: 0.0015414701993248959

In [35]:
#b(repeating the process with  two hidden layers with nodes 5)
mlp=MLPRegressor(hidden_layer_sizes=(5,5),activation='logistic', solver='lbfgs', random_state=1)

mlp.fit(X_train,y_train)

MLPRegressor(activation='logistic', hidden_layer_sizes=(5, 5), random_state=1,
             solver='lbfgs')

In [36]:
#evaluate model in traing set
y_train_pred=mlp.predict(X_train)
train_rmse=mean_squared_error(y_train,y_train_pred)
print("Training RMSE:", train_rmse)

Training RMSE: 0.0015854941405343912

In [37]:
#evaluate model in traing set
y_test_pred=mlp.predict(X_test)
test_rmse=mean_squared_error(y_test,y_test_pred)
print("Test RMSE:", test_rmse)

Test RMSE: 0.0015724548032443196

The RMS error for the training data typically goes down as the number of layers and nodes rises.
In  this specific case, we can see that the RMSE for the training data decreased as the numbers layers and node increased.However,In validataion  data,first RMSE is decreased and then second it is increased when nodes and layers both increased.
Hence, it can suggest that the single hidden layer with 2 nodes may be sufficient for this application.